 /* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
 @media (max-width: 575.98px) { 
    header {
        padding: 0rem 1rem 0rem 0.1rem;
        & li label {
            margin-left: -1.3rem;
        }

        & ul li a {
            font-size: 1rem;
        }
    }
    
    #begin {
        margin-bottom: 4rem;
        margin-top: -1rem;
        text-align: center;
        
        & h1 {
            margin-top: -3.3rem;
            font-size: 1.5rem;
            & span {
                font-size: 1.9rem;
            }
        }
        & p {
            font-size: 0.9rem;
        }

        & #bg-img, #francine {
            width: 8rem;
        }
    }
    
    #linkedin, #github, #cv {
        padding: 0.3rem;
        font-size: 1rem;
    }
    
    #button-cont {
        padding: 0.3rem 0.1rem 0.9rem 0.2rem;
        margin-bottom: -4rem;
    }
    
    #sobre {
        margin-bottom: 2rem;
        & h1 {
            padding-top: 1rem;
            margin-top: -2rem;
            font-size:1.5rem;
            margin-bottom: -0.5rem;
            text-align: center;
        }
    
        & p {
            font-size: 1rem;
            text-align: justify;
        }
    
        & img {
            display: none;
        }
    }

    #habilidades {
        margin-bottom: 2rem;
    
        & h1 {
            font-size: 1.5rem;
            margin-bottom: -1.5rem;
        }
    
        & #icon {
            width: 2.4rem;
            height: 2.4rem;
            padding: -2rem;
            margin: -0.8rem;

            & p {
                display: none;
            }
        }
    
        & img {
            width: 1.7rem;
            margin: -0.2rem -0.01rem 0rem -0.1rem;
        }
    }
    #projetos {
        & h1 {
            font-size:1.5rem;
            margin-bottom: -0.5rem;
        }
    
        & #card {    
            margin-left: 1rem;
           & img {
            width: 10rem;
            height: 10rem;
           }
    
           & #web {
            width: 4rem;
            font-size: 1rem;
            padding-top: 1rem;
           }

           & #github {
            font-size: 2rem;
           }
        }
    }
}

 
 /* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
 @media (min-width: 576px) and (max-width: 767.98px) { 
    header {
        padding: 0rem 2.2rem 0rem 0.1rem;
        & li label {
            margin-left: -1.3rem;
        }

        & ul li a {
            font-size: 1.2rem;
        }
    }
    
    #begin {
        margin: -0.5rem -1rem -4rem -1rem;
        
        & h1 {
            margin-left: -2rem;
            margin-top: -3rem;
            font-size: 1.7rem;
            & span {
                font-size: 2rem;
            }
        }
        & p {
            margin-left: -2rem;
            font-size: 1.05rem;
        }

        & #bg-img, #francine {
            width: 10rem;
        }
    }
    
    #linkedin, #github, #cv {
        padding: 0.4rem;
        font-size: 1.2rem;
    }
    
    #button-cont {
        margin-left: -1.4rem;
        padding: 0.3rem 0.1rem 0.7rem 0.2rem;
    }
    
    #sobre {
        margin-left: -1rem;
        margin-bottom: 3rem;
        & h1 {
            padding-top: 1rem;
            margin-top: -2rem;
            font-size:1.7rem;
            margin-bottom: -0.5rem;
        }
    
        & p {
            font-size: 1rem;
        }
    
        & img {
           width: 9rem;
           margin-left: -2.7rem;
           padding-top: 5rem;
        }
    }
    #habilidades {
        margin-bottom: 3rem;
    
        & h1 {
            font-size: 1.7rem;
            margin-bottom: -1.3rem;
        }
    
        & #icon {
            width: 2.8rem;
            height: 2.8rem;
            padding: -1.6rem;
            margin: -0.6rem;

            & p {
                display: none;
            }
        }
    
        & img {
            width: 2rem;
            margin: -0.2rem -0.2rem 0rem -0.1rem;
        }
    }

    #projetos {
        & h1 {
            font-size:1.7rem;
            margin-bottom: -0.2rem;
        }
    
        & #card {    
            margin-left: 1rem;
           & img {
            width: 15rem;
            height: 13rem;
            padding-left: 2.3rem;
           }
    
           & #web {
            width: 5rem;
            font-size: 1.5rem;
            padding-top: 1rem;
           }

           & #github {
            font-size: 2.8rem;
           }
        }
    }

 }
 
 /* Dispositivos médios (tablets com 768px ou mais)*/
 @media (min-width: 768px) and (max-width: 991.98px) {
    header {
        padding: 0rem 3rem 0rem 0.5rem;
        & li label {
            margin-left: -1.3rem;
        }

        & ul li a {
            font-size: 1.3rem;
        }
    }
    
    #begin {
        margin: -0.1rem -3rem -3rem -1rem;
        
        & h1 {
            margin-left: -2rem;
            margin-top: -0.7rem;
            font-size: 2rem;
            & span {
                font-size: 3rem;
            }
        }
        & p {
            margin-left: -2rem;
            font-size: 1.3rem;
        }

        & #bg-img, #francine {
            width: 16rem;
        }
    }
    
    #linkedin, #github, #cv {
        padding: 0.8rem;
        font-size: 1.5rem;
    }
    
    #button-cont {
        margin-left: -2rem;
        padding: 0.3rem 2rem 0.8rem 0rem;
    }
    
    #sobre {
        margin-left: -1rem;
        margin-bottom: 4rem;
        & h1 {
            padding-top: 2rem;
            margin-top: -2rem;
            font-size: 2rem;
            margin-bottom: -0.1rem;
        }
    
        & p {
            font-size: 1.3rem;
        }
    
        & img {
            padding-top: 7rem;
            width: 12rem;
            margin-left: -1rem;
        }
    }

    #habilidades {
        margin-bottom: 4rem;
    
        & h1 {
            font-size: 2rem;
            margin-bottom: -1rem;
        }
    
        & #icon {
            width: 4.8rem;
            height: 4rem;
            padding: -1.6rem;
            margin: -0.6rem;

            & p {
                font-size: 0.9rem;
            }
        }
    
        & img {
            width: 2.1rem;
            margin: -0.2rem -0.2rem 0rem -0.1rem;
        }
    }
    #projetos {
        & h1 {
            font-size:2rem;
        }
    
        & #card {    
            margin-left: 1rem;
           & img {
            width: 16rem;
            height: 15rem;
            margin-left: 6rem;
           }
    
           & #web {
            width: 7rem;
            font-size: 1.9rem;
            padding-top: 1rem;
           }

           & #github {
            font-size: 3.6rem;
           }
        }
    }
  }

@media (min-width: 992px) and (max-width: 1199.98px) {
    header {
        padding: 0rem 4.7rem 1rem -1rem;

        & ul li a {
            font-size: 1.2rem;
            margin-right: -1rem;
        }
    }
    
    #begin {
        margin: 1rem -2rem -2rem -4.5rem;
        
        & h1 {
            margin-left: -1.5rem;
            font-size: 2.5rem;
            & span {
                font-size: 3.6rem;
            }
        }
        & p {
            margin-left: -1.5rem;
            font-size: 1.4rem;
        }

        & #bg-img, #francine {
            width: 19rem;
        }
    }
    
    #linkedin, #github, #cv {
        padding: 1.4rem;
        font-size: 1.6rem;
    }
    
    #button-cont {
        margin-left: -1.3rem;
        padding: 1rem 1rem 1rem 0rem;
    }
    
    #sobre {
        margin-left: -4.5rem;
        margin-bottom: 5rem;
        & h1 {
            margin-top: -1.5rem;
            font-size: 2.5rem;
        }
    
        & p {
            font-size: 1.45rem;
        }
    
        & img {
            padding-top: 5rem;
            width: 17rem;
            margin-left: -0.2rem;
        }
    }

    #habilidades {
        margin-bottom: 5rem;
    
        & h1 {
            font-size: 2.5em;
            margin-bottom: -1rem;
        }
    
        & #icon {
            width: 6rem;
            height: 5rem;
            padding: -1rem;
            margin: -0.3rem;

            & p {
                font-size: 1.1rem;
            }
        }
    
        & img {
            width: 2.5rem;
            margin: -0.1rem -0.2rem 0rem -0.1rem;
        }
    }

    #projetos {
        & h1 {
            font-size:2.5rem;
        }
    
        & #card {    
            margin-left: 1rem;
           & img {
            width: 18rem;
            height: 17rem;
            margin-left: 9rem;
           }
    
           & #web {
            width: 8rem;
            font-size: 1.9rem;
            padding-top: 1rem;
           }

           & #github {
            font-size: 4rem;
           }
        }
    }
}