* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--body-bg);
}

:root {
    --body-bg: rgba(248, 248, 248, 0.851);
    --header-bg: #f7eef1;
    --ul-a: #D34B78;
    --ul-a-hover: #7BA697;
    --ul-label: #D34B78;
    --ul-label-icon: #ffffff;
    --custom-toggler: rgb(211, 75, 120);
    --navbar-toggler-icon: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211, 75, 120)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --color-text: black;
    --label-ball: #f0cbd7;
    --logo-img: url{"./img/logo-light.png"};
    --color-text-dif: #7BA697;
    --hab-g-p: #D34B78;
    --color-icon: Invert(0%);
    --card-color: #f9dfe7;
}

.dark:root {
    --body-bg: rgba(0, 0, 0, 0.851);
    --header-bg: #3e3e3e;
    --ul-a: #ffffff;
    --ul-a-hover: #94ccb9;
    --ul-label: #D34B78;
    --ul-label-icon: #ffffff;
    --custom-toggler: #fbfbfb;
    --navbar-toggler-icon: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    --color-text: rgb(255, 255, 255);
    --label-ball: #f0cbd7;
    --logo-img: url{"./img/logo-dark.png"};
    --color-text-dif: #D34B78;
    --hab-g-p: #548373;
    --color-icon: Invert(100%);
    --card-color: #343434;
}

header {
    background-color: var(--header-bg);

    & ul li a {
        color: var(--ul-a);
        font-weight: 700;
        font-size: 1.1rem;
        text-shadow: .8px .7px 0.9px rgba(1, 1, 1, 2.5);
        letter-spacing: 0.5px; 
    
        &:hover {
            color: var(--ul-a-hover);
        }
    }

    & li label {
        position: relative;
        background-color: var(--ul-label);
        border-radius: 50px;
        cursor: pointer;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        color: var(--ul-label-icon);
    
        & .ball {
            position: absolute;
            background-color: var(--label-ball);
            padding: 0.2rem;
            width: 2rem;
            height: 1.8rem;
            border-radius: 50%;
            top: 1.5px;
            left: 1.7px;
            transform: scale(1px);
            transition: 0.6s;
        }
    }

    & li label.dark .ball {
        left: 2rem;
    }
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.custom-toggler.navbar-toggler {
    border-color: var(--custom-toggler);
}

.custom-toggler .navbar-toggler-icon {
    background-image: var(--navbar-toggler-icon);
}

.container-fluid {
    margin-top: 4.9rem;
    padding: 2rem 5rem 2rem 5rem;
    color: var(--color-text);
}

#bg-img {
    position: absolute;
    width: 21rem;
    filter: drop-shadow(3px 9px 9px #000000);
}

#francine{
    width: 21rem;
    filter: drop-shadow(5px 2px 9px #000000);
}

#begin {
    margin-bottom: 10rem;
    & h1 {
        text-shadow: .8px .7px 0.9px rgba(1, 1, 1, 2.5);
        & span {
            color: var(--color-text-dif);
            font-size: 5rem;
        }
    }
    & p {
        font-weight: 600;
    }
}

#linkedin, #github, #cv {
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--color-text);
}

#button-cont {
    padding: 2rem 0rem;
}

#sobre {
    margin-bottom: 10rem;
    background-color: var(--header-bg);
    
    & h1 {
        color: var(--color-text-dif);
        text-shadow: .8px .7px 0.9px rgba(1, 1, 1, 2.5);
    }

    & p {
        font-weight: 500;
        letter-spacing: 0.03rem;
        font-size: 1.1rem;

        & span {
            color: var(--color-text-dif);
            text-shadow: .8px .7px 0.9px rgba(1, 1, 1, 2.5);
        }
    }

    & img {
        margin-left: 2.4rem;
        width: 16rem;
    }
}

#habilidades {
    margin-bottom: 10rem;
    background-color: var(--header-bg);
    text-align: center;

    & h1 {
        color: var(--color-text-dif);
        text-shadow: .8px .7px 0.9px rgba(1, 1, 1, 2.5);
    }

    & #icon {
        background-color: var(--hab-g-p);
        width: 6rem;
        height: 5.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    & img {
        filter: var(--color-icon);
        width: 3rem;
    }
}

#projetos {
    background-color: var(--header-bg);

    & h1 {
        text-align: center;
        color: var(--color-text-dif);
        text-shadow: .8px .7px 0.9px rgba(1, 1, 1, 2.5);
    }

    & #card {
        background-color: var(--card-color);
        text-align: center;

       & img {
        width: 14rem;
        height: 13rem;
        margin-left: 2.5rem;
       }

       & #github, #web {
        color: var(--color-text);
       }

       & #web {
        width: 7rem;
        font-size: 1.2rem;
        font-weight: 600;
       }
    }
}
